.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #073b4c;
  color: white;
  padding: 7rem;
  align-items: flex-start;
}

.welcome {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.parallax {
  background-image: url("/images/background3.jpg");
  min-height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  background-image: url("/images/background3.jpg");
  min-height: 10px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testDiv,
.testDiv2,
.testDiv3,
.testDiv4,
.testDiv5,
.testDiv6,
.testDiv7,
.testDiv8 {
  min-height: 100vh;
  max-height: 100%;
  background-color: #073b4c;
  color: white;
  padding: 75px;
  box-shadow: 0 0 2rem -0.5rem #000000;
  scroll-margin-top: 80px;
}

.testDiv7 {
  background-color: #073b4c;
  color: white;
}
.testDiv3,
.testDiv8 {
  background-color: #073b4c;
  color: white;
}
.testDiv4,
.testDiv2 {
  background-color: #073b4c;
  color: white;
}
.testDiv5 {
  background-color: #073b4c;
  color: white;
}

.bio {
  display: flex;
}
.bioPic {
  width: 200px;
  height: fit-content;
  margin-right: 31px;
}
.bioP {
  margin-top: 0px;
}

.bioH3 {
  margin-top: 100px;
  text-align: center;
}
.header {
  background-color: #073b4c;
  color: white;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 11;
  padding: 0px 50px;
  width: 100%;
  /*  height: var(--nav-height);
  backdrop-filter: blur(10px);
  transition: var(--transition);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); */
}
.nav {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  /*   color: var(--lightest-slate);
  font-family: var(--font-mono);
  counter-reset: item 0; */
  z-index: 12;
}
.ol {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: flex-end;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.li {
  margin: 0px 5px;
  position: relative;
  /*counter-increment: item 1;
  font-size: var(--fz-xs);
  */
}
.li:nth-child(1) {
  animation: fadeIn 2.5s;
  -webkit-animation: fadeIn 2.5s;
  -moz-animation: fadeIn 2.5s;
  -o-animation: fadeIn 2.5s;
  -ms-animation: fadeIn 2.5s;
}
.li:nth-child(2) {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
.li:nth-child(3) {
  animation: fadeIn 3.5s;
  -webkit-animation: fadeIn 3.5s;
  -moz-animation: fadeIn 3.5s;
  -o-animation: fadeIn 3.5s;
  -ms-animation: fadeIn 3.5s;
}
.li:nth-child(4) {
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  -ms-animation: fadeIn 4s;
}
.li:nth-child(5) {
  animation: fadeIn 4.5s;
  -webkit-animation: fadeIn 4.5s;
  -moz-animation: fadeIn 4.5s;
  -o-animation: fadeIn 4.5s;
  -ms-animation: fadeIn 4.5s;
}
.li:nth-child(6) {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
/* #50f9f9 */
.ul {
  line-height: 28px;
}
.li {
  margin-bottom: 15px;
}
.iconContainer {
  text-align: center;
  padding: 1px;
  /* background-color: #ffffff33; */
  border-radius: 10px;
  margin-top: 10px;
  margin-left: -11px;
  text-align: center;
}
.icon {
  width: 50px;
  margin: 10px;
}
.icon:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.projectImg {
  width: 65%;
  height: 100%;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.projectImgContainer {
  text-align: center;
}
.resume {
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
}
.links .glowOnHover {
  font-size: 19px;
}
.li:nth-child(5) a {
  color: #50f9f9;
}
.links .glowOnHover {
  height: 30px;
  padding: 3px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.logo {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 15px;
}
.navLinks {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.glowOnHover {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #00000000;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 35px;
  padding: 15px;
  text-align: center;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

.glowOnHover:before {
  content: "";
  background: linear-gradient(45deg, #073b4c, #118ab2, #546a7b, #c5cfd6);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

.glowOnHover:active {
  color: #000;
}

.glowOnHover:active:after {
  background: transparent;
}

.glowOnHover:hover:before {
  opacity: 1;
}

.glowOnHover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #111111b5; */
  left: 0;
  top: 0;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media screen and (max-width: 771px) {
  .nav {
    display: none;
  }
  .parallax {
    background-attachment: initial;
  }
  .bio {
    display: flex;
    flex-direction: column;
  }
  .testDiv p {
    margin-top: 15px;
  }
}

@media (max-width: 646px) {
  .navLinks {
    margin-top: 17px;
  }
}

@media screen and (max-width: 450px) {
  .main {
    padding: 1rem;
  }
  .main h1 {
    font-size: 45px !important;
  }
  .bioPic {
    width: 100%;
  }

  .testDiv5,
  .testDiv,
  .testDiv2,
  .testDiv4,
  .testDiv6 {
    padding: 50px 15px 50px 15px;
    scroll-margin-top: 55px;
  }
  .parallax,
  .parallax2 {
    min-height: 20px;
  }
  .links .glowOnHover:before {
    opacity: 1;
  }
  .links .glowOnHover {
    width: 62%;
    margin: 10% 0% 2% 20%;
  }
  .ul {
    width: 90%;
  }
  .testDiv p,
  .testDiv2 p,
  .testDiv3 p,
  .testDiv4 p,
  .testDiv5 p,
  .testDiv6 p,
  .testDiv7 p,
  .testDiv8 p {
    width: 90%;
    margin: 0 auto;
  }
  .testDiv p {
    margin-top: 15px;
  }
  .testDiv3 .projectImg {
    width: 100%;
  }
  .projectImg {
    margin-bottom: 30px;
  }
}
