.piano{
  display: flex;
  justify-content: center;
}

.pianoKey{
  border: 1px solid;
  
}

.white {
  width: 65px;
  height: 170px;
  background-color: white;
  text-align: center;
}
.black{
  background-color: black;
  width: 50px;
  height: 100px;
  margin-left: -10px;
  margin-right: -10px;
  z-index: 1;
  text-align: center;
}
.white:active, .black:active {
  background-color: yellow;
}