.img {
  opacity: 1;
  transition: opacity 0.5s;
}

.img[imageLoaded="false"] {
  opacity: 0;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-image: url("/images/weather.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 7rem;
  align-items: flex-start;
  position: fixed;
  width: 100%;
}
.container {
  background: #00000099;
  border: 1px solid #0000004d;
  border-radius: 60px;
  padding: 40px;
  margin: 0 auto;
  position: absolute;
}

.form {
  display: flex;
  margin: 0 auto;
}
.input {
  border-radius: 20px;
  width: 300px;
  height: 30px;
  font-size: inherit;
  padding: 14px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
@media screen and (max-width: 480px) {
  .container {
    width: 95%;
  }
  .form {
    flex-direction: column;
  }
  .form input {
    width: 100%;
  }
  .form button {
    width: 100px;
    margin: 5px auto;
  }
  .main > p {
    margin-top: -80px !important;
  }
}
